.storie-1,
.storie-2,
.storie-3,
.storie-4,
.storie-5,
.storie-6 {
  height: 600px;
  position: relative;
  display: flex;
  justify-content: center;
}

.storie-1 img,
.storie-2 img,
.storie-3 img,
.storie-4 img,
.storie-5 img,
.storie-6 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-bottom: 14px;
}

h2 {
  color: #f40f97;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 3.24px;
  position: absolute;
  bottom: 24px;
  text-align: center;
}

img {
  margin-bottom: 14px;
}

.slider {
  display: none;
}

.slider img {
  height: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1054px) {
  h2 {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2.24px;
  }
}

@media (max-width: 1024px) {
  .storie-1,
  .storie-2,
  .storie-3,
  .storie-4,
  .storie-5,
  .storie-6 {
    height: 500px;
  }

  h2 {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2.24px;
  }
}

@media (max-width: 768px) {
  .slider {
    display: block;
  }

  .storie-3,
  .storie-4,
  .storie-5,
  .storie-6 {
    display: none;
  }
}

@media (max-width: 390px) {
  .slider {
    display: block;
  }

  .storie-3,
  .storie-4,
  .storie-5,
  .storie-6 {
    display: none;
  }
}
