.storie-1,
.storie-2,
.storie-3,
.storie-4,
.storie-5,
.storie-6 {
  position: relative;
  display: flex;
  justify-content: center;
}

h2 {
  color: #f40f97;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 3.24px;
  position: absolute;
  bottom: 24px;
  text-align: center;
}

img {
  //   height: max-content;
  //   border: 3px solid red;
  margin-bottom: 14px;
}

.stories-phone {
  display: none;
}

// @media (max-width: 390px) {
//   .stories {
//     display: none;
//     height: 300px;
//   }

//   .stories-mobile {
//     display: block;
//   }
// }

// @media (max-width: 1024px) {
//   .stories {
//     height: 500px;
//   }
// }
@media (max-width: 992px) {
}

@media (max-width: 390px) {
  .stories {
    display: none;
  }
}
