/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  // margin-left: 20px;
  // margin-right: 20px;
  font-family: "Open Sans", sans-serif;
  background-color: #000000;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

.stories,
.suisse,
.international,
.blog {
  margin-left: 20px;
  margin-right: 20px;
}

hr {
  margin-left: 8px;
  margin-right: 8px;
  border: 1px solid #f40f97;
  margin-top: 60px;
  margin-bottom: 120px;
}

h1 {
  color: #f40f97;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: 5.76px;
  margin-bottom: 20px;
  margin-top: 120px;
}
